.myButton {
  box-shadow: 0 0 0 2px #ffffff;
  background-color:#ffffff;
  border-radius:10px;
  border:1px solid #95bca4;
  display:inline-block;
  cursor:pointer;
  color:#73b8ea;
  font-family: Arial, serif;
  font-size:45px;
  font-weight:bold;
  padding:40px 80px;
  text-decoration:none;
  text-shadow:0 1px 0 #283966;
  margin-top:100px;
}
.myButton:hover {
  background-color:#95bca4;
}
.myButton:active {
  position:relative;
  top:10px;
}

.parent-div {
  justify-content: center;
  align-content: end;
  margin-top: 80px;
}

.title{
  margin-top: 120px;
  font-size:100px;
  color: #AD8CDB;
  text-shadow: 4px 4px 0 #AD8CDB, 2px -2px 0 #AD8CDB, -2px 4px 0 #AD8CDB, -2px -2px 0 #AD8CDB, 4px 0px 0 #AD8CDB, 0px 4px 0 #AD8CDB, -2px 0px 0 #AD8CDB, 0px -4px 0 #AD8CDB;
  color: #ffffff;
}



