<a href="/" class="buttHome">HOME</a>

<h1 class="parent-div" style="text-align:center;">

  <label class="title">Leaderboard</label>

<div *ngIf="ldboards?.length > 0; else noLdboards">
 <ul *ngFor="let ldb of ldboards" class="collection">
   <TABLE WIDTH="700" ALIGN="" BORDER="3" BORDERCOLOR="#FFFFFF" CELLSPACING="2" CELLPADDING="2">
     <TR BGCOLOR="#95bca4" ALIGN="center" VALIGN="middle">
       <TD WIDTH="200" HEIGHT="50"><B><FONT COLOR="#AD8CDB"><STRONG>Player1</STRONG></FONT></B></TD>
       <TD WIDTH="200"HEIGHT="50"><B><FONT COLOR="#AD8CDB"><STRONG>Player2</STRONG></FONT></B></TD>
       <TD WIDTH="100" HEIGHT="50"><B><FONT COLOR="#AD8CDB"><strong>Winner</strong></FONT></B></TD>
     </TR>
     <TR VALIGN="middle">
       <TD WIDTH="200" HEIGHT="20" ALIGN="center"><FONT COLOR="#FFFFFF">{{ldb.name1}}</FONT></TD>
       <TD WIDTH="200" HEIGHT="20" ALIGN="center"><FONT COLOR="#FFFFFF">{{ldb.name2}}</FONT></TD>
       <TD WIDTH="100" HEIGHT="20" ALIGN="center"><FONT COLOR="#FFFFFF">
         {{!ldb.winner ? 'Draw': (ldb.winner === 'X' ? ldb.name1: ldb.name2) }}
       </FONT></TD>
     </TR>

   </TABLE>
 </ul>

</div>

</h1>

<ng-template #noLdboards>
  <hr>
  <h1><strong>There are no scores in the board</strong></h1>
</ng-template>



