@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

.nb-theme-cosmic nb-layout .layout {
  background-image: url('assets/images/bckg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
