@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((

   color-primary-100: #95bca4,
   color-primary-200: #ffaa00,

  button-outline-color: color-primary-100,
  button-filled-succes-active-background-color: color-primary-200,

), cosmic, cosmic);
